<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learn.mybatis.mapper.StudentMapper">

    <select id="findAllStudent" resultType="com.learn.mybatis.entity.StudentEntity">
        select  * from student;
    </select>

    <select id="findById" resultType="com.learn.mybatis.entity.StudentEntity">
        select * from student where id = #{id};
    </select>

    <insert id="insertStudent" useGeneratedKeys="true" keyProperty="id">
        insert into student (name, roll_no, address)
        values (#{name},#{rollNo},#{address})
    </insert>

    <resultMap id="studentCourse" type="com.learn.mybatis.pojo.StudentCoursePojo">

            <id property="studentId" column="student_id"/>
            <result property="studentName" column="name"/>

        <collection property="coursePojos" ofType="com.learn.mybatis.pojo.CoursePojo">
            <result property="courseCode" column="course_code"/>
            <result property="courseName" column="course_name"/>
        </collection>



    </resultMap>
    
    <select id="findAllCourseByStudentId" resultMap="studentCourse" >
        select  s.id as student_id, s.name, c.course_code, c.course_name   from student s
            join course_student cs on s.id = cs.student_entity_id
            join course c on c.id = cs.course_entity_id where s.id = #{studentId};
</select>

    <resultMap id="student_teacher" type="com.learn.mybatis.pojo.StudentTeacherPojo">

            <id property="courseId" column="id"></id>
            <result property="courseName" column="course_name"></result>
            <result property="courseCode" column="course_code"></result>

        <collection property="studentPojos" ofType="com.learn.mybatis.pojo.StudentPojo" >
            <result property="studentId" column="student_id"></result>
            <result property="studentName" column="student_name"></result>
            <result property="studentAddress" column="student_address"></result>
        </collection>

        <collection property="teacherPojos" ofType="com.learn.mybatis.pojo.TeacherPojo" >
            <result property="teacherId" column="teacher_id"></result>
            <result property="teacherName" column="teacher_name"></result>
            <result property="teacherAddress" column="teacher_address"></result>
        </collection>


    </resultMap>



    <select id="findAllStudentAndCourseByCourseId" resultMap="student_teacher">

        select  c.course_name, c.course_code,
                c.id,
                s.id as student_id,s.name as student_name,
                s.address as student_address,
                t.id as teacher_id, t.name as teacher_name,
                t.address as teacher_address from course c
            join course_student cs on c.id = cs.course_entity_id
            join student s on cs.student_entity_id = s.id
            join teacher_course tc on c.id = tc.course_entity_id
            join teacher t on tc.teacher_entity_id = t.id where c.id = #{courseId} or c.id = #{courseId2};
    </select>





</mapper>